<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />

    <title>Title</title>

    <meta name="description" content="Grunt template" />
    <meta name="keywords" content="template, grunt" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="//localhost:35729/livereload.js"></script>

</head>

<body>

    <div class="warpper">
        <!-- build:include /components/header.html -->
        <!-- /build -->

        <main id="main" class="main" role="main">

            <h1>Hello World</h1>

        </main>

        <!-- build:include /components/footer.html -->
        <!-- /build -->
    </div>

    <script src="js/script.js" type="text/javascript" async></script>

</body>

</html>